main {
    h1,
    p {
        text-align: center;
    }
    section#contacto {
        background-image: url(../img/skate-img1.jpg);
        background-size: cover;
        min-height: 100vh;
        @media(max-width: $breakpoint-xs) {
            .w-xs-100 {
                width: 100%;
            }
        }
    }
}

.error {
    border: 2px solid red;
    color: red;
}

.valido {
    border: 2px solid greenyellow;
}