header {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    nav {
        .img-logo-navbar {
            max-width: 220px;
            height: auto;
            margin: 5px;
        }
        ul {
            a {
                letter-spacing: 3px;
            }
            li {
                margin: 0 28px;
            }
        }
    }
}

@media(max-width: $breakpoint-xs) {
    header {
        padding: 5px;
        margin: 5px;
        nav {
            .img-logo-navbar {
                max-width: 120px;
            }
        }
    }
}