.main-form {
    background-color: #070f64;
    background-image: linear-gradient(43deg, #070f64 0%, #4c1748 46%, #5e5952 100%);
    padding: 50px 0px;
    #titulo1 {
        text-align: center;
    }
    #form-inputs {
        padding: 30px;
        margin: 0 40px;
        .inputs {
            text-align: center;
            .input {
                display: inline-block;
            }
        }
        .seleccion-input {
            padding-top: 25px;
        }
    }
    #botones {
        margin: 20px;
        text-align: center;
    }
    #mensaje-agregado {
        text-align: center;
    }
}

section#spots {
    #titulo-2 {
        text-align: center;
        padding: 10px 0px;
    }
    .buscar-spot {
        padding: 10px 0px 10px 50px;
        width: 30%;
    }
    #filtro-spot {
        display: grid;
        grid-template-columns: 1.3fr 6fr;
        .filtros {
            color: #FFFFFF;
            padding: 0px 50px;
            h5 {
                margin: 10px 0px 10px 0px;
            }
            h6 {
                margin: 20px 0px 10px 0px;
            }
        }
        .order-container {
            padding: 10px;
        }
        .spot-item {
            display: inline-block;
            position: relative;
            max-width: 400px;
            width: 100%;
            background: #333333;
            border-radius: 20px;
            margin-bottom: 10px;
            text-align: center;
            .spot-content {
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                cursor: pointer;
                .spot-img {
                    display: flex;
                    position: relative;
                    max-height: 330px;
                    border-radius: 20px;
                    overflow: hidden;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    justify-content: center;
                    align-items: center;
                    .likes {
                        position: absolute;
                        width: 35px;
                        top: 5%;
                        left: 5%;
                        z-index: 2;
                    }
                }
                .spot-obs {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 10px;
                    padding-bottom: 10px;
                    .span-spot {
                        background-color: $red-color;
                        border-radius: 5px;
                        padding: 3px 6px;
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .spot-info {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 10px 10px 5px 10px;
            box-sizing: border-box;
            .spot-tipo {
                color: $red-color;
                font-weight: 900;
                font-family: 'Roboto' !important;
                font-size: 1.3em !important;
            }
            .spot-nombre {
                font-size: 1.3em !important;
            }
        }
        @media(min-width: $breakpoint-md) {
            .spot-item {
                margin: 10px 10px
            }
        }
    }
}