@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}