$button-color: rgb(94, 94, 94);
$button-color-hover: black;
$red-color: #CF252B;
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1999px;
$footer-bg-color: #212121;